.flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    height: 50px;
    width: 100%;
    line-height: 50px;
    transition: width 0.3s, height 0.3s;
}

.flex-left {
    min-width: 10%;
    flex-grow: 1;
    height: 100%;
    background-color: red;
    text-align: center;
    cursor: pointer;
}
.flex-middle {
    flex-grow: 8;
    min-width: 80%;
    max-width: 80%;
    height: 100%;
    background-color: green;
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    
}

.flex-right {
    flex-grow: 1;
    min-width: 10%;
    height: 100%;
    background-color: yellow;
    text-align: center;
    
    
    cursor: pointer;
}

.middle-item {
    height: 100%;
    width: 20%;
    min-width: 20%;
    transition: transform 2s;
}
.hover {
    width: 0;
    height: 0;
    font-size: 0;
}